:root{
    --Cor_principal: rgb(236,1,1);
    --Cor_secund치ria: rgb(230,230,0);
    --Cor_h2: rgb(222,40,40);
    --cor_texto: rgb(44,44,44);
    
    --borde_radius: 12px;
    --box_shadow: rgba(0,0,0,0.3);
}

form{
    width: 500px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: 2px var(--Cor_principal) solid;
    border-radius: 20px;
    text-align: center;
}

form h3{
    margin: 0;
    background-color: var(--Cor_principal);
    color: white;
    padding: 14px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    text-align: center;
    font-size: 37px;
}

.nome{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

#nome{
    width: 250px;
    height: 30px;
    border: 2px var(--Cor_secund치ria) solid;
    border-radius: 9px;
}

.email{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

#email{
    width: 250px;
    height: 30px;
    border: 2px var(--Cor_secund치ria) solid;
    border-radius: 9px;
}

.senha{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}


#senha{
    width: 250px;
    height: 30px;
    border: 2px var(--Cor_secund치ria) solid;
    border-radius: 9px;
}

label{
    font-size: 22px;
    color: #3f3f3f;
}

.envi{
    margin-bottom: 10px;
}

#enviar{
    color: #3f3f3f;
    background-color: transparent;
    width: 100px;
    height: 40px;
    border: 2px var(--Cor_principal) solid;
    border-radius: 9px;
    font-size: 20px;
}

#enviar:hover{
    background-color: var(--Cor_principal);
    color: wheat;
    transition: 0.3s;
}

.cadastre{
    color: var(--Cor_principal);
    text-decoration: none;
    overflow: hidden;
}