/*Personalização da tabela*/
h3{
    text-align: center;
}

.servico{
  width: 800px;
  margin: auto;
}

.servicosC{
  width: 800px;
  display: flex;
  justify-content: center;
}

.card-servicos{
  width: 200px;
  height: 225px;
  border: 1px red solid;
  border-radius: 20px;
  padding: 10px;
  font-size: 18px;
  color: #303030;
  margin-right: 20px;
}

.card-servicos:hover{
  transition: 0.3s;
  width: 235px;
  height: 255px;
  font-size: 22px;
  margin-right: 25px;
  box-shadow: 3px 3px 0px 3px rgba(0, 0, 0, 0.2);
  
}

.tabela{
    display: block;
    margin: auto;
    width: 600px;
    margin-bottom: 50px;
}

table{
    border: 1px black solid;
    width: 600px;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

th, td {
  border: 1px solid #000000;
  padding: 12px;
  text-align: center;
}

thead {
  background-color: #ff0000;
  color: white;
}

tbody tr:hover {
  background-color: #e0e0e0;   
}