:root{
    --Cor_principal: rgb(236,1,1);
    --Cor_secundária: rgb(230,230,0);
    --Cor_h2: rgb(222,40,40);
    --cor_texto: rgb(44,44,44);
    
    --borde_radius: 12px;
    --box_shadow: rgba(0,0,0,0.3);
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 1rem;
    font-family: sans-serif;
}

.empresa{
    display: flex;
}

.empresa img{
    width: 50px;
    height: 74px;
}

header{
    background-color: var(--Cor_principal);
}

.container{
    display: flex;
    justify-content: space-between;
}

.linksh{
    align-items: center;
    display: flex;
}

.linksh .a{
    color: white;
    text-decoration: none;
    overflow: hidden;
    margin-right: 10px;
    font-size: 19px;
}

.linksh a{
    color: white;
    overflow: hidden;
    text-decoration: none;
}

.linksh button{
    margin-right: 10px;
    background-color: transparent;
    padding: 5px;
    border: 3px yellow solid;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-size: 19px;
}

.linksh button:hover{
    background-color: yellow;
    transition: 0.3s;
}

.linksh .cadastro{
    background-color: yellow;
}

.linksh .lcadastro:hover{
    color: red;
    transition: 0.3s;
}

h3{
    text-align: center;
}

.tabela{
    display: block;
    margin: auto;
    width: 600px;
}

table{
    border: 1px black solid;
    width: 600px;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

th, td {
  border: 1px solid #000000;
  padding: 12px;
  text-align: center;
}

thead {
  background-color: #ff0000;
  color: white;
}

tbody tr:hover {
  background-color: #e0e0e0; /* hover effect */
}