:root{
    --Cor_principal: rgb(236,1,1);
    --Cor_secund치ria: rgb(230,230,0);
    --Cor_h2: rgb(222,40,40);
    --cor_texto: rgb(44,44,44);
    
    --borde_radius: 12px;
    --box_shadow: rgba(0,0,0,0.3);
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0px;
    font-size: 1rem;
    font-family: sans-serif;
}

h2{
    text-align: center;
}

.empresa{
    display: flex;
}

.empresa h1{
    color: white;
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-top: 10px;
}

header{
    background-color: var(--Cor_principal);
}

.container{
    display: flex;
    justify-content: space-between;
}

.linksh{
    align-items: center;
    display: flex;
}

.linksh .a{
    color: white;
    text-decoration: none;
    overflow: hidden;
    margin-right: 15px;
    font-size: 19px;
}

.linksh a{
    color: white;
    overflow: hidden;
    text-decoration: none;
}

.linksh button{
    margin-right: 10px;
    background-color: transparent;
    padding: 5px;
    border: 3px var(--Cor_secund치ria) solid;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-size: 19px;
}

.linksh button:hover{
    background-color: var(--Cor_secund치ria);
    transition: 0.3s;
}

.linksh .cadastro{
    background-color: var(--Cor_secund치ria);
}

.linksh .lcadastro:hover{
    color: var(--Cor_principal);
    transition: 0.3s;
}


